@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    font-family: "poppins",sans-serif;
}
.box-gradient{
    background: rgba(51, 78, 172, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(5.5px);
border: 1px solid rgba(51, 78, 172, 0.47);
}

.shadow{
    -webkit-box-shadow: 6px 8px 24px -12px rgba(0, 150, 199, 1);
-moz-box-shadow: 6px 8px 24px -12px rgba(0, 150, 199, 1);
box-shadow: 6px 8px 24px -12px rgba(0, 150, 199, 1);
}